.legendRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.legendContent {
  max-height: 90vh;
  overflow-y: scroll;
}

.legend {
  bottom: -2px;
  left: -2px;
  right: 0;
  width: 100%;
  position: fixed;
}

.toggleWrapper {
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  top: -16px;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.toggle {
  font-size: 18px;
}

.header {
  margin-top: 0px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 800px) {
  .legendRowSm {
    padding: 0px 8px 8px 8px;
    flex-direction: column;
    overflow-y: scroll;
  }
}
